
**Author**: Aaryan Samanta

**Organization**: Legend College Preparatory

**Date**: 2025

**Title**: Intro to Python for Data Science

**Version**: 1.0

**Type**: Source Code

**Adaptation details**: Based on classroom exercises

**Description**: This assignment focuses on using Python tools to manipulate and analyze small datasets, preparing you for deeper exploration in upcoming classes



---


Developed as part of the AI Internship at Legend College Preparatory.
Please note that it is a violation of school policy to copy and use this code without proper attribution and credit acknowledgement.
Failing to do so can constitute plagiarism, even with small code snippets.

In [ ]:
my_int = 42
my_float = 3.14
my_string = "Data Science"
my_list = [1, 2, 3]
my_dict = {"name": "Aaryan", "age": 15}

In [ ]:
import numpy as np
array1 = np.array([1, 2, 3])
print("Mean:", array1.mean())

Mean: 2.0

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

A dataset is a form of recorded and structured data, and is usually organized by rows and columns. It allows researchers to analyze and draw insights. A dataset within the world of AI for medical imaging could be thousands of labeled images with actions provided by diagnostic reports from doctors. Each image in the dataset is an item of training data that introduces the model to the reality of the world. This data is important for the model to begin to recognize the same patterns that indicate diseases such as pneumonia or tumors, which will allow the model to make a diagnosis more quickly and accurately. Data presented in this way can allow AI systems to support physicians and help physicians make clinical decisions to advance patient care.

Section 1 End

In [ ]:
import numpy as np

random = np.random.randint(1, 101, size=10)
print("Array:", random)


print("Mean:", random.mean())
print("Max:", random.max())
print("Min:", random.min())

Array: [ 8 63 52 94 57 89 16 19 54  1]
Mean: 45.3
Max: 94
Min: 1

In [ ]:
import pandas as pd

#Titanic Dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

print("Shape:", df.shape)

print("Columns:", df.columns.tolist())

print(df.describe())

Shape: (891, 15)
Columns: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
# Filter passengers older than 30
older_than_30 = df[df["age"] > 30]
older_than_30.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True


 Pandas could be used to analyze training logs for track & field athletes, such as comparing sprint times, workout volumes, and recovery periods. By filtering and plotting the data, coaches can detect performance patterns and prevent overtraining.